{% extends 'baset.html' %}
{% load custom_filters %}
{% block content %}
{% if messages %}
<div class="alert alert-success container">
    {% for message in messages %}
    <p>{{ message|title }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container py-5">
    <h2>Mi Carrito de Compras</h2>

    {% if carrito|length == 0 %}
    <div class="alert alert-info">
        ¡Tu carrito está vacío! <a href="{% url 'shop' %}">Visita nuestra tienda</a> para agregar productos.
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Talla</th>
                        <th>Color</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slug, producto in carrito.items %}
                    {% if producto.tallas %}
                    {% for talla_id, talla_data in producto.tallas.items %}
                    <tr>
                        <td>{{ producto.nombre|title }}</td>
                        <td>{{ talla_data.talla|title }}</td> <!-- Mostrar la talla -->
                        <td>{{ colores.slug }}</td> <!-- Mostrar el color -->
                        <td>
                            <form method="POST" action="{% url 'actualizar_carrito' producto.slug talla_id %}">
                                {% csrf_token %}
                                <input type="number" name="cantidad" value="{{ talla_data.cantidad }}" min="1" required>
                                <button type="submit" class="btn btn-warning">Actualizar</button>
                            </form>
                        </td>
                        <td>${{ talla_data.precio|formatear_precio }}</td>
                        <td>${{ talla_data.precio|multiply:talla_data.cantidad|formatear_precio}}</td>
                        <td>
                            <a href="{% url 'eliminar_del_carrito' slug=slug talla_id=talla_id %}"
                                class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Si no tiene tallas, mostrar algo especial -->
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td colspan="5">Producto sin tallas disponibles</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <!-- Opción de Envío o Retiro -->
            <form method="POST" action="{% url 'actualizar_envio' %}" class="form-inline">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="envio" class="mr-2">Selecciona una opción de envío:</label>
                    <select name="envio" id="envio" class="form-control form-control-sm" onchange="this.form.submit()">
                        <option value="retiro" {% if envio == 'retiro' %}selected{% endif %}>Retiro en tienda</option>
                        <option value="envio" {% if envio == 'envio' %}selected{% endif %}>Envío a domicilio</option>
                    </select>
                </div>
            </form>

            <!-- Monto adicional por el envío -->
            {% if envio == 'envio' %}
            <h4>Costo de Envío: 6000 CLP</h4>
            {% else %}
            <h4>Sin costo de envío (Retiro en tienda)</h4>
            {% endif %}

            <!-- Total con o sin envío -->
            {% if envio == 'envio' %}
            <h3>Total con envío: ${{ total|formatear_precio }}</h3>
            {% else %}
            <h3>Total: ${{ total|formatear_precio }}</h3>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'procesar_pago' %}" class="btn btn-success">Proceder al Pago</a>
            {% else %}
            <h3>Total: ${{ total|formatear_precio }}</h3>
            <p class="alert alert-warning">Para proceder con el pago, por favor, inicie sesión o regístrese.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
            {% endif %}

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}