{% extends 'baset.html' %}
{% load custom_filters %}

{% block content %}
<div class="container py-5">
    <h2>¡Gracias por tu compra!</h2>
    <p>Tu pago fue exitoso y hemos recibido tu orden.</p>
    <p><strong>Resumen de tu compra:</strong></p>

    <ul>
        {% for venta in ventas %}
            <li>
                <strong>Producto:</strong> {{ venta.producto.nombre }} | 
                <strong>Cantidad:</strong> {{ venta.cantidad }} | 
                <strong>Precio unitario:</strong> ${{ venta.producto.precio }} | 
                <strong>Total:</strong> ${{ venta.cantidad|multiply:venta.producto.precio }}

                <a href="{% url 'producto_detalle' slug=venta.producto.slug %}" class="btn btn-info btn-sm">Ver detalles</a>
            </li>
        {% endfor %}
    </ul>

    <p><strong>Total: ${{ total }}</strong></p>
    <p>En un plazo de 24 horas nos pondremos en contacto contigo para confirmar los detalles de tu compra y enviarte el seguimiento.</p>
    <p>También te enviaremos un comprobante de compra a tu correo electrónico una vez que se haya procesado tu pedido.</p>

    <a href="{% url 'shop' %}" class="btn btn-primary">Volver a la tienda</a>
</div>
{% endblock %}
