{% extends "baset.html" %}

{% block title %}
¿Cómo Comprar en TBKDESIRE? - TBK-DESIRE
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">¿CÓMO COMPRAR EN TBKDESIRE?</h1>
    <p>Solo necesitas crear un usuario (o hacerlo como invitado, pero te pierdes miles de beneficios), añadir tu ropa,
        zapato o accesorio favorito al carro de compras y seleccionar “finalizar pedido”.</p>
    <p>Luego, solo debes continuar con el pago y esperar a que lleguen los nuevos tesoros a tu closet.</p>

    <h2>ENVÍOS A TODO CHILE</h2>
    <p>Realizamos envíos a todo Chile mediante las empresas JG SERVICE FLASH, CHILEEXPRESS, MERCADO ENVÍO, STARKEN y
        BLUEXPRESS. Los envíos dentro de Santiago y regiones $5.000. (Al momento de enviar se te
        notificará la empresa y demás detalles de tu envío)</p>
    <p>Si realizas tu pedido antes de las 15 hrs, este se preparará y enviará el mismo día a nuestros repartidores para
        ser despachado al día siguiente.</p>
    <p>En Santiago, las compras se entregan al día hábil siguiente (después de ser entregado a la empresa de
        transporte).</p>
    <p>En regiones, dependiendo la cercanía, la compra puede llegar entre el día hábil siguiente y un máximo de 5 días
        hábiles (después de ser entregado a la empresa de transporte).</p>
    <p>En cualquier caso, los envíos se coordinarán contigo después de que realices tu compra.</p>
    <p>Siempre estamos a tu disposición mediante la página de contacto, WhatsApp o las RRSS si necesitas el pedido
        urgente o si tienes cualquier duda.</p>

    <h2>GARANTÍA TBKDESIRE</h2>
    <p>En TBKDESIRE nos gusta brindar un servicio de primera calidad. Por tanto, si el producto no quedó como esperabas
        o no era lo que buscabas, puedes pedir un cambio o devolución cumpliendo los siguientes requisitos:</p>

    <h3>Lo que tienes que hacer para realizar un cambio:</h3>
    <ul>
        <li>Comunícate con nosotros por WhatsApp al número +56 9 68961483. Ten a mano tu número de orden.</li>
    </ul>

    <h3>Las opciones de cambio son las siguientes:</h3>
    <ul>
        <li>Envía y te enviamos. Nos envías el producto por el courier de tu preferencia. (Debes asumir los costos)</li>
        <li>El producto lo debes enviar sin uso, con su etiqueta y packaging original.</li>
    </ul>

    <p>Luego de recibir el producto, tienes 10 días para solicitar la devolución del dinero en la cuenta bancaria o
        tarjeta de crédito, dependiendo de cómo realizaste la compra.</p>
    <p>Además, tienes 30 días posteriores a la recepción del pedido para solicitar cambio por talla o por otro producto.
        Es decir, si la prenda no te dejó conforme o si no te gustó cómo quedó puesta, ¡puedes cambiarla! (Este tipo de
        cambio está sujeto al stock disponible en bodega).</p>
    <p>Luego de generar la solicitud de devolución o cambio, tienes 10 días para enviar la prenda a nuestro punto de
        recepción (Avenida Providencia 2538, local 30) por empresa de correo o venir a dejarla presencialmente si eres
        de la región Metropolitana. En caso de devolución, estas se generan en 24 horas hábiles.</p>

    <h3>¿Y SI NO ENCUENTRO LA TALLA O UNA PRENDA EN STOCK PARA HACER EL CAMBIO?</h3>
    <p>¡No hay problema! Si no quieres la devolución del dinero y no hay stock de la talla que buscas o algún producto
        disponible que te guste, te damos otra solución: ¡cambiar tu prenda por una giftcard equivalente a su valor!</p>

    <p>Todas las solicitudes de cambio, sugerencias o problemas puedes hacerlas a través del correo <a
            href="mailto:info@tbkdesire.cl">info@tbkdesire.cl</a>. Nosotros nos encargamos de recibir todos los
        comentarios, analizarlos y prometemos contestar el mismo día (si es dentro del horario laboral).</p>

    <h2>PUNTO FÍSICO PROVIDENCIA</h2>
    <p>No contamos con tienda física, pero sí tenemos un punto donde podrás retirar, cambiar o devolver tu compra previa
        coordinación a través de nuestro WhatsApp +56 9 68961483. Este punto físico se encuentra a 100 metros del metro
        Tobalaba en la ciudad de Santiago.</p>
</div>
{% endblock %}