{% load static %}
{% load custom_filters %}


<h1>Nuevo Pedido Realizado</h1>
<p>El usuario {{ usuario.username }} ha realizado una compra:</p>
<p>Detalles del Usuario:</p>
<p>RUT: {{ rut }}</p>
<p>Teléfono: {{ telefono }}</p>
<p>Dirección: {{ direccion }}</p>
<ul>
    {% for venta in ventas %}
    <li>{{ venta.producto.nombre }} (Talla: {{ venta.talla }}) x {{ venta.cantidad }} - ${{ venta.precio }} x
        {{ venta.cantidad }} = ${{ venta.precio|multiply:venta.cantidad }}</li>
    {% endfor %}
</ul>

<p>Total: ${{ total }}</p>
<p>Por favor, contacta al cliente para confirmar los detalles de su compra.</p>