{% extends "baset.html" %}

{% block content %}
{% if messages %}
<div class="alert alert-success container">
    {% for message in messages %}
    <p>{{ message|title }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm rounded">
                <div class="card-header text-center bg-dark text-white">
                    <h3>Perfil de {{ user.username }}</h3>
                </div>
                <div class="card-body">
                    <div class="profile-info">
                        <div class="row mb-3">
                            <div class="col-4"><strong>Nombre:</strong></div>
                            <div class="col-8">{{ user.first_name }} {{ user.last_name }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4"><strong>Email:</strong></div>
                            <div class="col-8">{{ user.email }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4"><strong>Teléfono:</strong></div>
                            <div class="col-8">{{ user.profile.telefono }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4"><strong>Dirección:</strong></div>
                            <div class="col-8">{{ user.profile.direccion }}</div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'edit_profile' %}" class="btn btn-success">Editar perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

