{% extends "baset.html" %}
{% load custom_filters %}

{% block content %}
<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-md-6">  <!-- Ancho del formulario -->
      <h2 class="text-center">Establecer Nueva Contraseña</h2>

      {% if custom_message %}
        <div class="alert alert-success text-center">{{ custom_message }}</div>
      {% endif %}

      <form method="post" class="mt-4">
        {% csrf_token %}
        
        <!-- Nueva Contraseña -->
        <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
          {{ form.new_password1|add_class:"form-control" }}  <!-- Añade la clase form-control -->
          {% if form.new_password1.errors %}
            <div class="text-danger">
              {{ form.new_password1.errors|join:", " }}
            </div>
          {% endif %}
          <!-- Checkbox para mostrar la contraseña -->
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" id="show-password1" onclick="togglePassword('new_password1')">
            <label class="form-check-label" for="show-password1">Mostrar Contraseña</label>
          </div>
        </div>

        <!-- Confirmar Nueva Contraseña -->
        <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
          {{ form.new_password2|add_class:"form-control" }}  <!-- Añade la clase form-control -->
          {% if form.new_password2.errors %}
            <div class="text-danger">
              {{ form.new_password2.errors|join:", " }}
            </div>
          {% endif %}
          <!-- Checkbox para mostrar la contraseña -->
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" id="show-password2" onclick="togglePassword('new_password2')">
            <label class="form-check-label" for="show-password2">Mostrar Contraseña</label>
          </div>
        </div>

        <button type="submit" class="btn btn-success mt-2">Restablecer Contraseña</button>
      </form>

      <p class="text-center mt-3">¿Recuperaste tu contraseña? <a href="{% url 'login' %}">Iniciar sesión</a></p>
    </div>
  </div>
</div>

<!-- JavaScript para alternar la visibilidad de la contraseña -->
<script>
  function togglePassword(fieldId) {
    var passwordField = document.getElementById(fieldId);
    var showPasswordCheckbox = document.getElementById('show-' + fieldId);
    if (showPasswordCheckbox.checked) {
      passwordField.type = 'text';
    } else {
      passwordField.type = 'password';
    }
  }
</script>

{% endblock %}
