{% extends 'baset.html' %}

{% block title %}Restablecimiento de Contraseña Completado{% endblock %}

{% block content %}
<div class="container m-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>¡Contraseña Restablecida!</h2>
            <p>Tu contraseña ha sido restablecida correctamente. Ahora puedes 
                <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
            <p>Si no has solicitado este cambio, por favor contacta a nuestro soporte.</p>
        </div>
    </div>
</div>
{% endblock %}
