{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">  <!-- Ancho del formulario -->
        <h2 class="text-center">Restablecer Contraseña</h2>
        
        <form method="post" class="mt-4">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" name="email" class="form-control" required placeholder="Introduce tu correo electrónico">
          </div>
          <button type="submit" class="mt-2 btn btn-primary btn-block">Enviar instrucciones de restablecimiento</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
