{% extends "baset.html" %}

{% block content %}
  <div class="container m-5">
    <div class="row justify-content-center">
      <div class="col-md-6">  <!-- Ancho del formulario -->
        <div class="card shadow-sm border-light">
          <div class="card-body">
            <h2 class="text-center mb-4 text-success">Restablecer Contraseña</h2>
            
            <form method="post" class="mt-4">
              {% csrf_token %}
              <div class="form-group">
                <label for="email" class="form-label">Correo electrónico:</label>
                <input type="email" name="email" class="form-control form-control-lg" required placeholder="Introduce tu correo electrónico">
              </div>
              <button type="submit" class="mt-4 btn btn-success btn-lg btn-block">Enviar instrucciones de restablecimiento</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
