{% extends "baset.html" %}

{% block content %}
  <div class="container m-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body text-center">
            <h2 class="mb-4">Instrucciones de Restablecimiento Enviadas</h2>
            <p class="lead">¡Hemos enviado instrucciones para restablecer tu contraseña a tu correo electrónico!</p>
            <p>Si no recibes el correo, asegúrate de haber ingresado la dirección correcta y revisa tu carpeta de spam.</p>
            <a href="{% url 'login' %}" class="btn btn-success mt-3">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
