{% extends 'baset.html' %}
{% load custom_filters %}

{% block title %}Crear/Editar Usuario{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h1 class="card-title text-center mb-4 h1">Registrar una nueva cuenta</h1>
                <form method="POST">
                    
                    <!-- Mostrar mensajes de error -->
                    {% if messages %}
                        <div class="mt-3">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    
                    <div>
                      <label for="id_nombre">Nombre:</label>
                      {{ form.nombre }}
                      {% if form.nombre.errors %}
                        <div class="error">{{ form.nombre.errors }}</div>
                      {% endif %}
                    </div>
                    
                    <div>
                      <label for="id_apellido">Apellido:</label>
                      {{ form.apellido }}
                      {% if form.apellido.errors %}
                        <div class="error">{{ form.apellido.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_email">Email address:</label>
                      {{ form.email }}
                      {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_password1">Password:</label>
                      {{ form.password1 }}
                      {% if form.password1.errors %}
                        <div class="error">{{ form.password1.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_password2">Password confirmation:</label>
                      {{ form.password2 }}
                      {% if form.password2.errors %}
                        <div class="error">{{ form.password2.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_rut">Rut:</label>
                      {{ form.rut }}
                      {% if form.rut.errors %}
                        <div class="error">{{ form.rut.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_telefono">Telefono:</label>
                      {{ form.telefono }}
                      {% if form.telefono.errors %}
                        <div class="error">{{ form.telefono.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <div>
                      <label for="id_direccion">Direccion:</label>
                      {{ form.direccion }}
                      {% if form.direccion.errors %}
                        <div class="error">{{ form.direccion.errors }}</div>
                      {% endif %}
                    </div>
                  
                    <button type="submit">Registrar</button>
                  </form>
                  <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

