{% extends 'baset.html' %}
{% load static %}

{% block title %}
Formulario de Contacto - TBK-DESIRE
{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    <p>{{ message|title }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">

                <h3>¿Tienes alguna pregunta? Contáctanos:</h3>
                
                <h1 class="card-title text-center mb-4 h1">Formulario Contacto</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ formm.as_p }}
                    <button class="btn btn-success mt-3 d-block mx-auto" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}