{% extends 'baset.html' %}
{% load custom_filters %}

{% block content %}

<div class="container py-5">
    {% if messages %}
    <div class="messages container">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if request.user.is_staff %}
    <h2 class="text-center mb-4">Mis Ventas:</h2>
    {% else %}
    <h2 class="text-center mb-4">Mis Compras:</h2>
    {% endif %}
    s
    {% if page_obj %}
    <div class="row">
        {% for venta in ventas %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-lg {% if request.user.is_staff %} border-info {% endif %}">
                <div class="card-header bg-primary text-white">
                    {% if request.user.is_staff %}
                    <h5 class="card-title">Venta ID: {{ venta.numero_control }}</h5>
                    {% else %}
                    <h5 class="card-title">Compra ID: {{ venta.numero_control }}</h5>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if request.user.is_staff %}
                    <h6><strong>Detalles del Usuario:</strong></h6>
                    <ul class="list-group mb-3">
                        <li class="list-group-item"><strong>Fecha de Compra:</strong> {{ venta.fecha|date:"d/m/Y H:i" }}
                        </li>
                        <li class="list-group-item"><strong>Usuario:</strong> {{ venta.user.username }}</li>
                        <li class="list-group-item"><strong>Dirección:</strong> {{ venta.usuario_direccion }}</li>
                        <li class="list-group-item"><strong>RUT:</strong> {{ venta.usuario_rut }}</li>
                        <li class="list-group-item"><strong>Nombre:</strong> {{ venta.user.first_name }}</li>
                        <li class="list-group-item"><strong>Apellidos:</strong> {{ venta.user.last_name }}</li>
                        <li class="list-group-item"><strong>Teléfono:</strong> {{ venta.usuario_telefono }}</li>
                    </ul>
                    {% else %}
                    <ul class="list-group mb-3">
                        <li class="list-group-item"><strong>Fecha de Compra:</strong> {{ venta.fecha|date:"d/m/Y H:i" }}
                        </li>
                        {% endif %}



                        <h6 class="mt-3"><strong>Productos:</strong></h6>
                        <ul class="list-group list-group-flush">
                            {% for linea in venta.lineas.all %}
                            <li class="list-group-item">
                                <strong>{{ linea.producto.nombre|title }}</strong><br>
                                Talla: {{ linea.talla.talla|default:"No especificada" }}<br>
                                {% if linea.color %}
                                <strong>Color:</strong> {{ linea.color.nombre|title }}<br>
                                {% else %}
                                <strong>Color:</strong> No especificado<br>
                                {% endif %}
                                Cantidad: {{ linea.cantidad }}<br>
                                Precio unitario: ${{ linea.precio_unitario|formatear_precio }}<br>
                                Total: ${{ linea.total_formateado|formatear_precio }}

                            </li>
                            {% endfor %}
                        </ul>

                        <h6 class="mt-3"><strong>Estado de Pago:</strong></h6>
                        <p class="list-group-item">
                            {% if venta.estado_pago == 'pendiente' %}
                            <span class="badge bg-warning text-dark">Pendiente</span>
                            {% elif venta.estado_pago == 'confirmado' %}
                            <span class="badge bg-success">Confirmado</span>
                            {% else %}
                            <span class="badge bg-secondary">No disponible</span>
                            {% endif %}
                        </p>

                        {% if request.user.is_staff %}
                        <h6 class="mt-3"><strong>Cambiar Estado de Pago:</strong></h6>
                        <form method="POST" action="{% url 'cambiar_estado_pago' venta.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="estado" class="form-label">Estado de Pago</label>
                                <select class="form-control" id="estado" name="estado">
                                    <option value="pendiente"
                                        {% if venta.estado_pago == 'pendiente' %}selected{% endif %}>Pendiente</option>
                                    <option value="confirmado"
                                        {% if venta.estado_pago == 'confirmado' %}selected{% endif %}>Confirmado
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Actualizar Estado</button>
                        </form>
                        {% endif %}
                        <h6 class="mt-3"><strong>Envío:</strong></h6>
                        <p class="list-group-item">
                            {% if venta.tipo_envio == 'envio' %}
                            <span class="badge bg-primary">Envío a Domicilio</span>
                            {% elif venta.tipo_envio == 'retiro' %}
                            <span class="badge bg-secondary">Retiro en Local</span>
                            {% else %}
                            <span class="badge bg-warning">No especificado</span>
                            {% endif %}
                        </p>
                </div>
                <div class="card-footer bg-light">
                    <strong>Total de la Venta:</strong>
                    {% if venta.tipo_envio == 'envio' %}
                    ${{ venta.total_venta_formateado|add:"5000"|formatear_precio }}
                    {% else %}
                    ${{ venta.total_venta_formateado|formatear_precio }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?page=1&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                    aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                    aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ num }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                    aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>

    {% else %}
    <p class="text-center">No tienes compras o ventas registradas.</p>
    {% endif %}
</div>
{% endblock %}