{% extends 'baset.html' %}

{% block content %}
{% if messages %}
<div class=" alert alert-success container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

    <div class="container py-5">
        <h1>Agregar Tallas para el Producto: {{ producto.nombre }}</h1>

        <h3>Tallas Existentes</h3>
        <ul>
            {% for talla in tallas_existentes %}
                <li>
                    {{ talla.talla }}  
                    <a href="{% url 'agregar_colores_talla' talla.id %}" class="btn btn-link">Agregar Colores</a>
                </li>
            {% empty %}
                <li>No hay tallas agregadas aún.</li>
            {% endfor %}
        </ul>

        <h3>Agregar Nueva Talla</h3>
        <form method="POST" class="bg-light p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: 
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success">Agregar Talla</button>
        </form>

        <a href="{% url 'producto_detalle' slug=producto.slug %}" class="btn btn-secondary mt-3">Ir a Detalles del Producto</a>
    </div>
{% endblock %}
