{% extends 'baset.html' %}

{% block content %}
{% if messages %}
<div class=" alert alert-success container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

    <div class="container py-5">
        <h1>Agregar Colores a la Talla: {{ talla.talla }} del Producto: {{ producto.nombre }}</h1>

        <!-- Mostrar los colores actuales de esta talla -->
        <h3>Colores actuales:</h3>
        <ul>
            {% for color in talla.colores.all %}
                <li>{{ color.color.nombre }}</li>
            {% empty %}
                <li>No hay colores asociados a esta talla.</li>
            {% endfor %}
        </ul>

        <form method="POST" class="bg-light p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ color_form.as_p }}
            {% for field in color_form %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.label }}</strong>: 
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Agregar Color</button>
        </form>

        <a href="{% url 'agregar_tallas' slug=producto.slug %}" class="btn btn-secondary mt-3">Volver a Agregar Tallas</a>
    </div>
{% endblock %}
